@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
